<div class="row">
  <div class="col-md-6">

<button (click)="checkSession()" class="btn btn-danger">Verificar token </button>

    <div class="panel panel-success">
      <div class="panel-heading">Datos de login</div>
        <div class="panel-body">

          <div class="form-group">
            <label>Autenticado (httpService.authenticated)</label>
            <div class="input-group"></div>
            <div class="text-success">
              {{httpService.authenticated}}
            </div>
          </div>
        </div>

        <!-- <div class="form-group">
          <label>User Data (httpService.userProfile)</label>
          <div class="input-group">

            <div class="text-success">
              {{this.httpService.userProfile | json}}
            </div>
          </div>
        </div> -->
      </div>
    </div>



  </div>







<div class="row">
  <div class="col-md-6">



    <div class="panel panel-info">
      <div class="panel-heading">Datos de session en localstorage</div>
        <div class="panel-body">

          
          <div class="form-group">
            <label>httpService.urrentSession.profile</label>
            <div class="input-group">

              <div class="text-success">
                {{httpService.currentSession.profile | json}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>httpService.currentSession.token</label>
            <div class="text-success">

              {{httpService.currentSession.token}}
            </div>
          </div>
          <div class="form-group">
            <label>httpService.currentSession.expires_at</label>
            <div class="text-success">
              {{httpService.currentSession.expires_at}}

            </div>
          </div>
        </div>
      </div>




    </div>
    <div class="col-sm-12 alert alert-danger" *ngIf="error">
      <strong>Oops!</strong> An error occurred fetching data. Please try again.
      <p class="text-info">{{error}}</p>
    </div>