apiVersion: v1
kind: Service
metadata:
  name: rapi-api-service
  labels:
    app: rapi-api
spec:
  type: NodePort
  selector:
    app: rapi-api
  ports:
  - protocol: TCP
    port: 8080          # Puerto del contenedor
    targetPort: 8080    # Puerto en el contenedor
    nodePort: 31001    # Puerto de tu PC (este debe estar en el rango 30000-32767 para NodePort)
