<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard"></a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/postList" routerLinkActive="active">Posts</a>
      </li>
      <li>
        <a routerLink="/postCreate"  *ngIf="authService.authenticated" routerLinkActive="active">Create new post</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/commentList" routerLinkActive="active">All Comments</a>
      </li>
      <li>
          <a routerLink="/privCommentList" routerLinkActive="active">Private comments</a>
        </li>
      
      <li>
        <a routerLink="/commentCreate"  *ngIf="authService.authenticated" routerLinkActive="active">Create new comment</a>
      </li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
      <li>
        <a *ngIf="!authService.authenticated" routerLink="/login" >Log In</a>
      </li>
      <li>
        <a  *ngIf="authService.authenticated">Log Out</a>
      </li>
      <li>
        <a routerLink="/loginData" routerLinkActive="active">Login Data</a>
      </li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li>
        <a (click)="authService.login()" *ngIf="!authService.authenticated" >Log In</a>
      </li>
      <li>
        <a (click)="authService.logout()" *ngIf="authService.authenticated">Log Out</a>
      </li>
    </ul> -->
  </nav>
  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>